body{
	margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.leftLogo{
	width: 5%;
	top: 27%;
	left: 35%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-name: slideInLeft;
}
.largeLogo{
	width: 10%;
	top: 1%;
	left: 42%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.75s;
    animation-name: slideIn;
}
.rightLogo{
	width: 5%;
	top: 27%;
	left: 53%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-name: slideInRight;
	
}
@keyframes slideIn {
    0% {
		transform: translateX(30%) scale(0.5);
        
    }
	20%{
		transform: translateY(0);
	}
	30%{
		transform: translateX(20%) translateY(200%) scale(1);
	}
    70% {
        
		transform: translateX(20%) translateY(200%) scale(1);
    }
	100%{
		transform: translateY(-300%);
	}
}
@keyframes slideInLeft {
    0% {
		transform: translateX(100%) translateY(-200%) scale(0.5);
        
    }
	20%{
		transform: translateY(0);
		
	}
    30% {
        transform: translateX(40%) translateY(200%) scale(1);
    }
	70% {
        transform: translateX(40%) translateY(200%) scale(1);
    }
	100%{
		transform: translateX(-1000%);
	}
}
@keyframes slideInRight {
    0% {
		transform: translateX(30%) translateY(-200%) scale(0.5);
        
    }
	20%{
		transform: translateY(0);
		
	}
    30% {
        transform: translateX(50%) translateY(200%) scale(1);
    }
	70% {
        transform: translateX(50%) translateY(200%) scale(1);
    }
	100%{
		transform: translateX(1000%);
	}
}
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.logo,
.gallery-image,
.placeholder-text,
.buy-btn,
.prev-btn,
.next-btn,
.title-text{
		
    animation: fadeIn 0.5s ease 1.5s forwards;
 }
  
.logo,
.gallery-image,
.placeholder-text,
.buy-btn,
.prev-btn,
.next-btn,
.title-text,
.logo-hover{
  opacity: 0; /* Start with opacity 0 */
}

body {
        margin: 0;
        padding: 0;
    }
.background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Place behind other content */
        background-image: url('assets/background.png'); /* Replace with your image */
        background-size: cover;
        animation: scrollBackground 30s linear infinite; /* Adjust speed as needed */
    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 0 -100%; /* Adjust vertical offset for scrolling */
        }
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
        animation: fadeIn 0.5s ease 1.5s forwards;
        opacity: 0;
        position: absolute;
        top: 20%; /* 20% from the top */
        width: 100%;
        height: 80%; /* 60% height of the viewport */
        overflow-y: scroll; /* Enable vertical scrolling */
        box-sizing: border-box; /* Include padding in height calculation */
		transform: translateX(2.65%);
    }
	.content{
		animation: fadeIn 0.5s ease 1.5s forwards;
        opacity: 0;
        position: absolute;
	}

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hover-overlay h2 {
        color: #fff;
        font-size: 24px;
        text-align: center;
    }


.top-banner {
  position: fixed;
  top: 0;
  left: -100%; /* Start off the screen on the left */
  width: 150%;
  height: 50px; /* Adjust the height of the banner */
  background-color: invisible; /* Background color of the banner */
  color: #fff; /* Text color of the banner */
  font-family: 'Helvetica Neue', sans-serif; /* Use Helvetica Neue font family */
  font-size: 15px; /* Increase font size */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveBanner 30s linear infinite; /* Adjust animation duration as needed */
  animation-delay: 0s; /* Delay the animation for 10 seconds */
}

@keyframes fadeInvert{
	0%{
		background-color: #000;
		color: #fff;
	}
	100%{
		background-color: #fff;
		color: #000;
	}
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
@keyframes moveBanner {
  0% {
    transform: translateX(-50%); /* Start from the left */
  }
  100% {
    transform: translateX(200%); /* Move to the right */
  }
}
.information p {
  color: #fff; /* Set the font color of the placeholder text to white */
  font-family: 'Helvetica Neue', sans-serif; /* Use Helvetica Neue font family */
  font-size: 30px; /* Increase font size */
  font-weight: bold; /* Set font weight to bold */
}
.information {
  position: fixed;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Set the font color of the placeholder text to white */
  font-family: 'Helvetica Neue', sans-serif; /* Use Helvetica Neue font family */
  font-size: 20px; /* Increase font size */
  font-weight: bold;
}
.a{
	color: #909090;
	margin-bottom: 5px;
}
h3{
	color: #fff;
	margin-bottom: 5px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 10vh;
}
.logo-link {
  display: inline-block;
  position: relative;
}

.logo-link:hover #logoImage {
  opacity: 0;
}

.logo-link:hover #logoHover {
  opacity: 1;
}

.logo {
  max-width: 200px;
  transition: opacity 0.3s ease;
}

.logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  max-width: 200px;
  transition: opacity 0.3s ease;
}