body{
	margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	overflow-x: hidden;
	overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

    body {
        margin: 0;
        padding: 0;
    }
.background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Place behind other content */
        background-image: url('assets/background.png'); /* Replace with your image */
        background-size: cover;
        animation: scrollBackground 30s linear infinite; /* Adjust speed as needed */
    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 0 -100%; /* Adjust vertical offset for scrolling */
        }
    }

    
.top-banner {
  position: fixed;
  top: 0;
  left: -100%; /* Start off the screen on the left */
  width: 150%;
  height: 50px; /* Adjust the height of the banner */
  background-color: invisible; /* Background color of the banner */
  color: #fff; /* Text color of the banner */
  font-family: 'Helvetica Neue', sans-serif; /* Use Helvetica Neue font family */
  font-size: 15px; /* Increase font size */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveBanner 30s linear infinite; /* Adjust animation duration as needed */
  animation-delay: 0s; /* Delay the animation for 10 seconds */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
@keyframes moveBanner {
  0% {
    transform: translateX(-25%); /* Start from the left */
  }
  100% {
    transform: translateX(200%); /* Move to the right */
  }
}
h1{
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
	justify-content: center;
	align-items: center;
}
h2{
	color: #f00;
	font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
	justify-content: center;
    align-items: center;
}
h6{
	color: #555;
	font-family: 'Helvetica Neue', sans-serif;
    font-size: 10px;
	margin-bottom: -20px;
    font-weight: bold;
	justify-content: center;
	align-items: center;
}