body{
	margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	overflow-x: hidden;
	overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.leftLogo{
	width: 5%;
	top: 27%;
	left: 35%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-name: slideInLeft;
}
.largeLogo{
	width: 10%;
	top: 1%;
	left: 42%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.75s;
    animation-name: slideIn;
}
.rightLogo{
	width: 5%;
	top: 27%;
	left: 53%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-name: slideInRight;
	margin-bottom: 75%;
}
@keyframes slideIn {
    0% {
        transform: translateY(-300%);
    }
	50%{
		transform: translateX(20%) translateY(200%) scale(1);
	}
	70%{
		transform: translateX(20%) translateY(200%) scale(1);
	}
    80% {
        transform: translateY(0);
    }
	100%{
		transform: translateX(30%) scale(0.5);
	}
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-1000%);
    }
	50%{
		transform: translateX(40%) translateY(200%) scale(1);
	}
    70% {
        transform: translateX(40%) translateY(200%) scale(1);
    }
	80% {
        transform: translateY(0);
    }
	100%{
		transform: translateX(100%) translateY(-200%) scale(0.5);
	}
}
@keyframes slideInRight {
    0% {
        transform: translateX(1000%);
    }
	50%{
		transform: translateX(50%) translateY(200%) scale(1);
	}
    70% {
        transform: translateX(50%) translateY(200%) scale(1);
    }
	80% {
        transform: translateY(0);
    }
	100%{
		transform: translateX(30%) translateY(-200%) scale(0.5);
	}
}
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    body {
        margin: 0;
        padding: 0;
    }
.background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Place behind other content */
        background-image: url('assets/background.png'); /* Replace with your image */
        background-size: cover;
        animation: scrollBackground 30s linear infinite; /* Adjust speed as needed */
    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 0 -100%; /* Adjust vertical offset for scrolling */
        }
    }

    
.top-banner {
  position: fixed;
  top: 0;
  left: -100%; /* Start off the screen on the left */
  width: 150%;
  height: 50px; /* Adjust the height of the banner */
  background-color: invisible; /* Background color of the banner */
  color: #fff; /* Text color of the banner */
  font-family: 'Helvetica Neue', sans-serif; /* Use Helvetica Neue font family */
  font-size: 15px; /* Increase font size */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveBanner 30s linear infinite; /* Adjust animation duration as needed */
  animation-delay: 0s; /* Delay the animation for 10 seconds */
}
.navbar {
    position: fixed; /* Position fixed so it stays at the top right */
    top: 7.5%; /* Align 5% down from the top of the viewport */
    right: 2.5%; /* Align 2.5% away from the right of the viewport */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: transparent; /* Background set to transparent */
    color: #fff;
    padding: 0 20px;
    font-family: 'Helvetica Neue', sans-serif; /* Use Helvetica Neue font family */
    font-size: 25px; /* Increase font size */
    font-weight: bold;
    transform: translateY(0); /* Optional: Ensure no offset from top */
  }

  /* Style for navbar buttons */
  .navbar-btn {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
  }

  /* Style for navbar buttons on hover */
  .navbar-btn:hover {
	animation: fadeInvert 0.5s forwards;
  } 
@keyframes fadeInvert{
	0%{
		background-color: #000;
		color: #fff;
	}
	100%{
		background-color: #fff;
		color: #000;
	}
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
@keyframes moveBanner {
  0% {
    transform: translateX(-25%); /* Start from the left */
  }
  100% {
    transform: translateX(200%); /* Move to the right */
  }
}
h1{
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.5s ease 1.5s forwards;
    opacity: 0;
}
h2{
	color: #f00;
	font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
	justify-content: center;
    align-items: center;
	animation: fadeIn 0.5s ease 1.5s forwards;
    opacity: 0;
}